# =========================
# ENV
# =========================
.env
.env.local
.env.*.local

# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# WhatsApp Sessions
# =========================
auth/
.wwebjs_cache/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-data/
